@model dynamic

@{
    Layout = "~/Views/_Layout.cshtml";
}
<link href="~/Content/home.css" rel="stylesheet" />

<div class="home-carousel">
    <img src="http://i.gtimg.cn/qqlive/images/20151126/i1448596924_1.jpg?max_age=604800" width="100%" />
</div>
<div class="home-main re">
    <div class="home-main-left ab">
        <div class="hot-star">
            <div><a href="#" class="module-title">热门影星</a><span class="more">更多...</span></div>
            <div class="green-line"></div>
            <div class="v-list re">
                <div class="v-list-left ab">
                    <div>
                        <img width="100%"  src="http://pic1.qiyipic.com/common/lego/20151128/94973a1f34a4475c88d884d62102a6d8.jpg" /><br/>
                        <span class="v-title">奔跑吧，兄弟</span><br/>
<span class="v-info">关注：15 播放：17</span>
                    </div>
                </div>
                <div class="v-list-right ab">
                    <div>
                        <img width="100%" src="http://pic1.qiyipic.com/common/lego/20151128/94973a1f34a4475c88d884d62102a6d8.jpg" />
<br/>
<span class="v-title">奔跑吧，兄弟</span><br/>
<span class="v-info">关注：15 播放：17</span>
                    </div>
                    <div>
                        <img width="100%"  src="http://pic1.qiyipic.com/common/lego/20151128/94973a1f34a4475c88d884d62102a6d8.jpg" />
<br/>
<span class="v-title">奔跑吧，兄弟</span><br/>
<span class="v-info">关注：15 播放：17</span>
                    </div>
                    <div>
                        <img width="100%"  src="http://pic1.qiyipic.com/common/lego/20151128/94973a1f34a4475c88d884d62102a6d8.jpg" />
<br/>
<span class="v-title">奔跑吧，兄弟</span><br/>
<span class="v-info">关注：15 播放：17</span>
                    </div>
                    <div>
                        <img width="100%"  src="http://pic1.qiyipic.com/common/lego/20151128/94973a1f34a4475c88d884d62102a6d8.jpg" />
<br/>
<span class="v-title">奔跑吧，兄弟</span><br/>
<span class="v-info">关注：15 播放：17</span>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="hot-company">
        </div>
    </div>
    <div class="home-main-right ab"></div>
</div>



