@model dynamic

@{
    Layout = "~/Views/_Layout.cshtml";
}
<link href="~/Content/home.css" rel="stylesheet" />

<div class="home-carousel">
    <img src="http://i.gtimg.cn/qqlive/images/20151126/i1448596924_1.jpg?max_age=604800" width="100%" />
</div>
<div class="home-main re">
    <div class="home-main-left ab">
        <div class="hot-star module">
            <div><a href="#" class="module-title">热门影星</a><span class="more">更多...</span></div>
            <div class="green-line"></div>
            <div class="v-list re">
                <div class="v-list-left ab">
                    <div>
                        <img src="~/Content/bss.jpg" /><br />
                        <span class="v-title">奔跑吧，兄弟</span><br />
                        <span class="v-info">关注：15 播放：17</span>
                    </div>
                </div>
                <div class="v-list-right ab">
                    <div>

                        <img src="~/Content/sss.jpg" />
                        <br />
                        <span class="v-title">奔跑吧，兄弟</span><br />
                        <span class="v-info">关注：15 播放：17</span>
                    </div>
                    <div>
                        <img src="~/Content/sss.jpg" />
                        <br />
                        <span class="v-title">奔跑吧，兄弟</span><br />
                        <span class="v-info">关注：15 播放：17</span>
                    </div>
                    <div>
                        <img src="~/Content/sss.jpg" />
                        <br />
                        <span class="v-title">奔跑吧，兄弟</span><br />
                        <span class="v-info">关注：15 播放：17</span>
                    </div>
                    <div>
                        <img src="~/Content/sss.jpg" />
                        <br />
                        <span class="v-title">奔跑吧，兄弟</span><br />
                        <span class="v-info">关注：15 播放：17</span>
                    </div>
                    <div>
                        <img src="~/Content/sss.jpg" />
                        <br />
                        <span class="v-title">奔跑吧，兄弟</span><br />
                        <span class="v-info">关注：15 播放：17</span>
                    </div>
                    <div>
                        <img src="~/Content/sss.jpg" />
                        <br />
                        <span class="v-title">奔跑吧，兄弟</span><br />
                        <span class="v-info">关注：15 播放：17</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="hot-company module">
            <div><a href="#" class="module-title">热门影视公司</a><span class="more">更多...</span></div>
            <div class="green-line"></div>
            <div class="v-list re">
                <div class="v-list-left ab">
                    <div>
                        <img src="~/Content/bss.jpg"/><br/>
                        <span class="v-title">奔跑吧，兄弟</span><br/>
                        <span class="v-info">关注：15 播放：17</span>
                    </div>
                </div>
                <div class="v-list-right ab">
                    <div>

                        <img src="~/Content/sss.jpg"/>
                        <br/>
                        <span class="v-title">奔跑吧，兄弟</span><br/>
                        <span class="v-info">关注：15 播放：17</span>
                    </div>
                    <div>
                        <img src="~/Content/sss.jpg"/>
                        <br/>
                        <span class="v-title">奔跑吧，兄弟</span><br/>
                        <span class="v-info">关注：15 播放：17</span>
                    </div>
                    <div>
                        <img src="~/Content/sss.jpg"/>
                        <br/>
                        <span class="v-title">奔跑吧，兄弟</span><br/>
                        <span class="v-info">关注：15 播放：17</span>
                    </div>
                    <div>
                        <img src="~/Content/sss.jpg"/>
                        <br/>
                        <span class="v-title">奔跑吧，兄弟</span><br/>
                        <span class="v-info">关注：15 播放：17</span>
                    </div>
                    <div>
                        <img src="~/Content/sss.jpg"/>
                        <br/>
                        <span class="v-title">奔跑吧，兄弟</span><br/>
                        <span class="v-info">关注：15 播放：17</span>
                    </div>
                    <div>
                        <img src="~/Content/sss.jpg"/>
                        <br/>
                        <span class="v-title">奔跑吧，兄弟</span><br/>
                        <span class="v-info">关注：15 播放：17</span>
                    </div>

                </div>
            </div>
        </div>


        <div class="module2">
            <div class="fl module2_left">
                <div>最新视频推荐</div>
            </div>
            <div class="fr module2_right">
                <div class="module2_right_vedio">

                    <img src="~/Content/sss.jpg" /><br />
<span class="v-title">奔跑吧，兄弟</span><br />
<span class="v-info">关注：15 播放：17</span>
                </div>
                <div class="module2_right_vedio">
                    <img src="~/Content/sss.jpg" /><br />
<span class="v-title">奔跑吧，兄弟</span><br />
<span class="v-info">关注：15 播放：17</span>
                    
                </div>
                <div class="module2_right_vedio">
                    <img src="~/Content/sss.jpg"/><br/>
                    <span class="v-title">奔跑吧，兄弟</span><br/>
                    <span class="v-info">关注：15 播放：17</span>
                    
                </div>
                <div class="module2_right_vedio">
                    <img src="~/Content/sss.jpg" /><br />
                    <span class="v-title">奔跑吧，兄弟</span><br />
                    <span class="v-info">关注：15 播放：17</span>

                </div>
                <div class="cf"></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="home-main-right ab"></div>
</div>



